
.vs/SmartMarket/DesignTimeBuild/.dtbcache.v2
/.vs
obj/Debug/net8.0/SmartMarket.AssemblyInfo.cs
obj/Debug/net8.0/SmartMarket.AssemblyInfoInputs.cache
obj/Debug/net8.0/SmartMarket.AssemblyInfoInputs.cache
